@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font: 17px;
    font-family: "Roboto", sans-serif;
}
img{
    width: 100%;
}
h1{
    font-size: 95px;
}
h2{
    font-size: 50px;
    
}
h3{
    font-size: 35px;
   
}
.container{
    width: 90%;
    margin: auto;
}
section{
    padding: 50px 0 50px 0;
}
header{
    background-image: url(../images/dawn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #0000007d;
}
nav{
    
    
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
nav h4{
    color: white;
    font-size: 24px;
}
nav h4 span{
    font-weight: 100;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
nav ul li{
    margin: 0 0 0 20px;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-weight: 600;
    font-size: 17px;
    color: white;
}
.banner{
    padding: 200px 0 150px 0;
    text-align: center;
    color: white;
}
.banner h3{
    
    font-style: italic;
    margin: 0 0 10px 0;
}
.banner span{
    background-color: red;
    height: 5px;
    width: 150px;
    display: inline-block;
    border-radius: 5px;
}
.banner h1{
    
}
.banner button{
    background-color: #d14343;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid #d14343;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.banner button:hover{
    background-color: #d1434300;
    letter-spacing: 3px;

}
/* ====Upcoming Events====== */
.event-main{
    text-align: center;
}
.event-main h2{
    margin: 0;
    
}
.event-main span{
    background-color: red;
    height: 5px;
    width: 150px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 0 50px 0;
}
.event{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: auto;
}
.event-box{
    width: 50%;
    margin: 20px;
}
.event-box img{
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    -webkit-box-shadow: 16px 16px 2px #8080807d;
            box-shadow: 16px 16px 2px #8080807d;
}

.event-box h4{
    font-size: 25px;
    margin: 25px 0 20px 0;
}
.event-box p{}
.event-box a{
    color: red;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}
/* ====EXPLORE THE WORLD===== */
.explore-section{
    background-image: url(../images/father.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 255, 0.507);
    color: white;
    background-attachment: fixed;
}

.explore-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.explore{
    width: 50%;
    
}
.explore h1{
    margin-bottom:0 ;
}
.explore span{
    background-color: red;
    height: 5px;
    width: 150px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 0 50px 0;
}
.explore p{}
.explore a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}
/* ====TOURS & DESTINATION==== */
.tours-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.tour{
    padding: 15px;
}
.tour span{
    background-color: red;
    height: 5px;
    width: 150px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 0 50px 0;
}
.tour h3{
    margin: 0;
}
.tour p{
    margin:30px 0;
}
.tour a{}
.tour img{}
.small{
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 0 20px 0;
}
.large{
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 0 20px 0;
}
/* ===Footer==== */
footer{
    background-color: black;
    color: white;
    padding: 60px;
    text-align: center;
}
.fab{
    font-size: 20px;
    color: white;
    margin: 10px;
}
/* ==========About Us========== */
.about-section,
.team-section {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h2,
.team-section h2 {
    color: #333;
}

.team-member {
    text-align: center;
    margin: 20px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
}

.team-member h3 {
    color: #333;
    margin-top: 10px;
}
/* ===========Scroll Bar Design============= */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e8eceb;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* ===========Scroll Bar Ends============= */
  

  /*Small Phone, Medium Phone, Large Phone = 0=> 600px and down) */
  @media only screen and (max-width:600px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
        
    }
    h3{
        font-size: 20px;
       
    }
    .container{
        width: 96%;
    }
    section{
        padding: 50px 0 50px 0;
    }
    header{
        
    }
    nav{

        display: block;
    }
    nav h4{
        font-size: 20px;
        margin: 0;
        text-align: center;
    }
    nav h4 span{
        height: 30px;
        width: 100%;
    }
    nav ul{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

    }
    nav ul li{
        margin: 0 5px 10px 5px;
    }
    nav ul li a{

        font-size: 16px;
       
    }
    .banner{
        padding: 60px 0 70px 0;
        text-align: center;
        color: white;
    }
    .banner h3{
        
        font-style: italic;
        margin: 0 0 10px 0;
    }
    .banner span{
        height: 3px;
        width: 120px;
        display: inline-block;
        border-radius: 5px;
    }
    .banner button{
        padding: 12px 22px;
        font-size: 18px;
        letter-spacing: 1px;
    }

        /* ====Upcoming Events====== */
    .event-main span{
        background-color: red;
        height: 5px;
        width: 150px;
        display: inline-block;
        border-radius: 5px;
        margin: 10px 0 50px 0;
    }
    .event{
        display: block;
        width: 100%;
        margin: auto;
    }
    .event-box{
        width: 96%;
        margin: 0px auto;
    }
    .event-box img{
        height: 350px;
    }
    .event-img-mobile{
        margin-top: 50px;
    }
    /* ====EXPLORE THE WORLD===== */

    .explore-main{
        display: block;
    }
    .explore{
        width: 100%;
        
    }
    .explore p{
        margin: 30px 0;
    }
    .explore a{
    font-size: 18px;
    }
        /* ====TOURS & DESTINATION==== */
    .tours-main{
        display: block;
    }
    .tour{
        padding: 10px;
    }
    .tour span{
        background-color: red;
        height: 5px;
        width: 150px;
        display: inline-block;
        border-radius: 5px;
        margin: 10px 0 50px 0;
    }
    .tour p{
        margin:20px 0;
    }
    .tour a{}
    .tour img{}
    .small{
        height: 300px;
        margin: 0 0 10px 0;
    }
    .large{
        height: 300px;
        margin: 0 0 10px 0;
    }
    /* ===Footer==== */
footer{
    padding: 30px 10px;
}
.fab{
    font-size: 20px;
    color: white;
    margin: 5px;
}
}
/* Tab Device Media Query */
@media only screen and (min-width:601px) and (max-width:768px)
{
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
        
    }
    h3{
        font-size: 25px;
       
    }
    .container{
        width: 98%;
    }
    section{
        padding: 60px 0 60px 0;
    }

    nav{

        display: block;
    }
    nav h4{
        font-size: 25px;
        margin: 0;
        text-align: center;
    }
    nav h4 span{
        height: 30px;
        width: 100%;
    }
    nav ul{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

    }
    nav ul li{
        margin: 0 5px 10px 5px;
    }
    nav ul li a{

        font-size: 16px;
       
    }
    .banner{
        padding: 60px 0 70px 0;
        text-align: center;
        color: white;
    }
    .banner h3{
        
        font-style: italic;
        margin: 0 0 10px 0;
    }
    .banner span{
        height: 3px;
        width: 120px;
        display: inline-block;
        border-radius: 5px;
    }
    .banner button{
        padding: 12px 22px;
        font-size: 18px;
        letter-spacing: 1px;
    }

        /* ====Upcoming Events====== */
    .event-main span{
        background-color: red;
        height: 5px;
        width: 150px;
        display: inline-block;
        border-radius: 5px;
        margin: 10px 0 50px 0;
    }
    .event{
        display: block;
        width: 100%;
        margin: auto;
    }
    .event-box{
        width: 96%;
        margin: 0px auto;
    }
    .event-box img{
        height: 350px;
    }
    .event-img-mobile{
        margin-top: 50px;
    }
    /* ====EXPLORE THE WORLD===== */

    .explore-main{
        display: block;
    }
    .explore{
        width: 100%;
        
    }
    .explore p{
        margin: 30px 0;
    }
    .explore a{
    font-size: 18px;
    }
        /* ====TOURS & DESTINATION==== */
    .tours-main{
        display: block;
    }
    .tour{
        padding: 10px;
    }
    .tour span{
        background-color: red;
        height: 5px;
        width: 150px;
        display: inline-block;
        border-radius: 5px;
        margin: 10px 0 50px 0;
    }
    .tour p{
        margin:20px 0;
    }
    .tour a{}
    .tour img{}
    .small{
        height: 300px;
        margin: 0 0 10px 0;
    }
    .large{
        height: 300px;
        margin: 0 0 10px 0;
    }
    /* ===Footer==== */
footer{
    padding: 30px 10px;
}
.fab{
    font-size: 20px;
    color: white;
    margin: 5px;
}
}